version: '3.8'
services:
  proxy-demo:
    restart: unless-stopped
    build:
      context: ./proxy
    ports:
      - "8000:8000"
    depends_on:
      - client
      - server
  server:
    restart: unless-stopped
    build:
      context: ./server-demo
      target: dev
    volumes:
      - ./server-demo/src:/server-demo/src
    environment:
      NODE_ENV: development
      DEBUG: nodejs-docker-express:*
  client:
    restart: unless-stopped
    environment:
      DEBUG: http-proxy-middleware*
    depends_on:
      - server
    build:
      context: ./client
      additional_contexts:
        - shared-lib=./shared-lib
      target: dev
    volumes:
      - ./client/src:/client/src
      - ./client/config:/client/config
      - ./client/public:/client/public
