:root {
    --vp-c-brand-1: #ff7e17;
    --vp-c-brand-2: #ff8700;
    --vp-c-brand-3: #e37800;
}

/* Slideshow container */
.cust-slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.cust-mySlides {
    display: none;
}

/* Next & previous buttons */
.cust-prev, .cust-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.cust-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.cust-prev:hover, .cust-next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.cust-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.cust-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
}

/* The dots/bullets/indicators */
.cust-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.cust-active, .cust-dot:hover {
    background-color: #717171;
}

/* Fading animation */
.cust-fade {
    animation-name: cust-fade;
    animation-duration: 1.5s;
}

@keyframes cust-fade {
    from {opacity: .4}
    to {opacity: 1}
}
