# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Tests - Server

on:
  push:
    branches: [ "master" ]
    paths:
      - 'server/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'server/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.3.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ${{github.workspace}}/server/package-lock.json
    - name: Install
      working-directory: ./shared-lib
      run: npm ci
    - name: Build
      working-directory: ./shared-lib
      run: npm run build --if-present
    - name: Install
      working-directory: ./server
      run: npm ci
    - name: Build
      working-directory: ./server
      run: npm run build --if-present
    - name: Test
      working-directory: ./server
      run: npm test
    - name: Test Python
      working-directory: ./server
      run: npm test:python